.movie-list-container {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    background: #000000;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
}