.star-rating {
    display: inline-block;
    font-size: 24px; /* Adjust the size as needed */
  }
  
  .star {
    text-shadow: 1px 0px 9px #beaeae;;
    color: gold; /* Adjust the color as needed */
  }
  